<h1>To Do List</h1>

<%= link_to 'ADD LIST', new_todo_path %>

<ol>
	<% @todos.each do |todo| %>
	<li>
		<p>Due Date : <%= todo.due_date %></p>
		<%= todo.title %>
		
		<%= link_to 'EDIT', edit_todo_path(todo) %>
		<%= link_to 'DEL', todo_path(todo), method: :delete, data:{
				confirm: "Delete this item ?"
			} %>


	</li>
	<% end %>
</ol>


