<body style="background-color: #EDF4ED">
	<div style="width: 600px; max-height: 800px; border:solid 2px grey; background-color: #F3FFBD; margin: 50px auto; position: relative; box-shadow: 3px 3px 8px rgba(0,0,0,.5);">
		<h1 style="text-align: center;">To Do List</h1>
		<div style="background-color: red; width: 70px; height: 10px; margin: 0 auto 30px auto;"></div>

		<div class="addbtn" style="position: absolute; margin: 10px 30px;">
			<%= link_to 'ADD LIST', new_todo_path %>
		</div>
		
		<div class="list" style="margin: 80px 30px; max-height: 600px; overflow: scroll;">
			<ol>
				<% @todos.each do |todo| %>
				<li>
					<p>Due Date : <%= todo.due_date %></p>
					<%= todo.title %>
					
					<div class="actions" style="float: right;">
						<%= link_to 'EDIT', edit_todo_path(todo) %>
						<%= link_to 'DEL', todo_path(todo), method: :delete, data:{
								confirm: "Delete this item ?"
							} %>
					</div>
					<hr>

				</li>
				<% end %>
			</ol>
		</div>


	</div>
</body>